@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  /* removes arrows in inpur data type */

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button,
  select {
    -webkit-appearance: none;
    margin: 0;
    appearance:none;
  }

  /* Firefox */
  input[type="number"],select {
    -moz-appearance: textfield;
  }

